@model RecruitmentPortal.WebApp.ViewModels.JobCategoryViewModel
@using RecruitmentPortal.WebApp.Helpers
@using RecruitmentPortal.WebApp.Resources


@{ ViewBag.Title = "DetailsJobCategory"; }
<style>
    .disableClick {
        background-color: #808080;
        color:white;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><b><i class="fa fa-newspaper-o"></i> Job Category Details :</b></h3>
                    <div class="d-flex pull-right">
                        <a href='@Url.Action("AddNewJobPost","JobPost",new {id = Model.EncryptedId })' class="btn btn-primary  mr-1 ">Add Job</a>
                        <a href='@Url.Action("Index","JobCategory")' class="btn btn-primary">Cancel</a>
                    </div>
                    

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Job Title</th>
                                <th>Location</th>
                                <th>Job Role</th>
                                <th>Vacancy</th>
                                <th>Job Type</th>
                                <th>Eligibility Criteria</th>
                                <th>Experience</th>
                                <th>Skills</th>
                                <th>Action</th>
                                <th>Edit</th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        bindDatatable();
    });

    function bindDatatable() {
        $('#datatable').DataTable({
            lengthChange: true,
            searching: true,
            ordering: false,
            lengthMenu: [[5, 10, 25, 50, -1], [5,10, 25, 50, "All"]],
            paging: true,
            pagingType: "simple_numbers",
            pageLength: 10,
            fixedColumns: true,
            responsive: true,
            "bDestroy": true,
            "ajax": {
                "url": "@Url.Action("GetCategoryDetails", "JobCategory")",
                "type": "GET",
                "data": {
                    "id": "@Model.EncryptedId"
                },
                "datatype": "json"
            },
            "columns": [
                { "data": "job_title", "name": "job_title" },
                { "data": "location", "name": "location" },
                { "data": "job_role", "name": "job_role" },
                { "data": "vacancy", "name": "vacancy" },
                { "data": "job_type", "name": "job_type" },
                { "data": "eligibility_criteria", "name": "eligibility_criteria" },
                { "data": "experience", "name": "experience" },
                { "data": "skills", "name": "skills" },

                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        var iconClass = (row.isActive) ? '<i class="fa fa-check-square actionbutton"></i>' : '<i class="fa fa-times-circle actionbutton"></i>';
                        var action = '';
                        action = '<a href="javascript:void(0);" title="Activate/Deactivate" onclick="ChangeStatus(\'' + row.encryptedId + '\',\'' + row.categoryId + '\',\'' + row.isActive + '\')" class = "btn btn-primary btn-sm">' + iconClass + '</a>';
                        
                        return action;
                    }
                },
                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        if (row.isActive) {
                            var action = '<a href="javascript:void(0);" title="Edit Post" onclick="Edit(\'' + row.encryptedId + '\' )" class = "btn btn-primary btn-sm"><i class="fa fa-edit actionbutton"></i></a>';
                            return action;
                        } else {
                            var action = '<a href="javascript:void(0);" title="Edit Post" onclick="error()" class = "btn btn-secondary btn-sm"><i class="fa fa-edit actionbutton"></i></a>';
                            return action;
                        }

                    }
                }
            ],
            "order": [[0, "asc"]]
        });
    }

    function error() {
        notification("Error", '@Messages.EnableEntity', "error");
    }
    function ChangeStatus(jobPostId,categoryID, status) {
        window.location.href = '@Url.Action("UpdateJobPost", "JobPost")?id=' + jobPostId + '&categoryId=' + categoryID + '&status=' + status;
    }
    function Edit(jobPostId, editMode = true) {
        window.location.href = '@Url.Action("UpdateJobPost", "JobPost")?id=' + jobPostId + '&editMode=' + editMode;
    }
    function popupForActivation() {
        notification("Error", '@Messages.EnableEntity', "error");
    }
</script>