@model RecruitmentPortal.WebApp.ViewModels.JobCategoryViewModel
@using RecruitmentPortal.WebApp.Helpers

@{
    ViewData["Title"] = "DetailsJobCategory";
}
@if (ViewData["msg"] != null)
{
    <script>window.onload = function () { alert("@ViewData["msg"] already exist !!") }</script>
}
@if (ViewBag.active != null)
{
    <script>window.onload = function () { alert("@ViewData["active"]!!") }</script>
}
<h1 class="bg-gradient-gray-dark text-white">Category : @Model.job_category_name</h1>

<hr />
@if (Model.isActive == true)
{
    <a asp-action="AddNewJobPost" asp-controller="JobPost" asp-route-id="@RSACSPSample.EncodeServerName((Model.ID).ToString())" class="btn btn-primary">Add New Job</a>
}
else
{
    <a class="btn btn-secondary">Add New Job</a>
}
<a asp-action="Index" asp-controller="JobCategory" class="btn btn-primary">Back to List</a>
@if (Model.JobPosts != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Location</th>
                <th>Job Role</th>
                <th>Vacancy</th>
                <th>Job Type</th>
                <th>Eligibility Criteria</th>
                <th>Experience</th>
                <th>Skills</th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th>Action</th>
                    <th>Edit</th>
                }
            </tr>
        </thead>
        @foreach (var item in Model.JobPosts)
        {

            <tr>
                <td>@item.job_title</td>
                <td>@item.location</td>
                <td>@item.job_role</td>
                <td>@item.vacancy</td>
                <td>@item.job_type</td>
                <td>@item.eligibility_criteria</td>
                <td>@item.experience</td>
                <td>@item.skills</td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @*@if (Model.isActive == true)
                            {
                                @Html.ActionLink("Delete", "DeleteJobPost", "JobPost", new { id = RSACSPSample.EncodeServerName((item.ID).ToString()), cid = RSACSPSample.EncodeServerName((Model.ID).ToString()) }, new { @class = "btn btn-primary" })
                            }
                            else
                            {
                            <a class="btn btn-secondary">Delete</a>
                            }*@
                        @if (item.isActive == true)
                        {
                            @Html.ActionLink("Deactivate", "UpdateJobPost", "JobPost", new { id = RSACSPSample.EncodeServerName((item.ID).ToString()), cid = RSACSPSample.EncodeServerName((Model.ID).ToString()), deactivate = true }, new { @class = "btn btn-danger", @style = "width : 90px" })
                        }
                        else
                        {
                            @Html.ActionLink("Activate", "UpdateJobPost", "JobPost", new { id = RSACSPSample.EncodeServerName((item.ID).ToString()), cid = RSACSPSample.EncodeServerName((Model.ID).ToString()), deactivate = false }, new { @class = "btn btn-success", @style = "width : 90px" })

                        }
                    </td>
                    <td>
                        @if (item.isActive == false)
                        {
                            <a class="btn btn-secondary">Edit</a>

                        }
                        else
                        {
                            @Html.ActionLink("Edit", "UpdateJobPost", "JobPost", new { id = RSACSPSample.EncodeServerName((item.ID).ToString()), cid = RSACSPSample.EncodeServerName((Model.ID).ToString()) }, new { @class = "btn btn-primary" })

                        }
                    </td>
                }


            </tr>
        }


    </table>

}












