@model RecruitmentPortal.WebApp.ViewModels.JobCategoryViewModel
@using RecruitmentPortal.WebApp.Helpers
@using RecruitmentPortal.WebApp.Resources

@{ ViewData["Title"] = "DetailsJobCategory"; }
<style>
    .mybutton {
        font-size: 25px;
        border-radius: 3px;
        color: #509bac;
        margin-right: 5px;
    }

    .table > thead > tr > th {
        border-bottom: 2px solid #ecf0f5;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border-top: 1px solid #ecf0f5;
    }

    .disableClick {
        pointer-events: none;
        background-color: #808080;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Job Categories :</h3>
                    <a asp-action="AddNewJobPost" asp-controller="JobPost" class="btn btn-primary pull-right ">Add Job</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Job Title</th>
                                <th>Location</th>
                                <th>Job Role</th>
                                <th>Vacancy</th>
                                <th>Job Type</th>
                                <th>Eligibility Criteria</th>
                                <th>Experience</th>
                                <th>Skills</th>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <th>Action</th>
                                    <th>Edit</th>
                                }
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        bindDatatable();
    });

    function bindDatatable() {

        $('#datatable').DataTable({
            lengthChange: true,
            searching: true,
            ordering: false,
            lengthMenu: [[5, 10, 25, 50, -1], [5,10, 25, 50, "All"]],
            paging: true,
            pagingType: "simple_numbers",
            pageLength: 10,
            fixedColumns: true,
            responsive: true,
            "bDestroy": true,
            "ajax": {
                "url": "@Url.Action("GetJobCategories", "JobCategory")",
                "type": "GET",
                "data": {},
                "datatype": "json"
            },
            "columns": [
                { "data": "job_title", "name": "job_title" },
                { "data": "location", "name": "location" },
                { "data": "job_role", "name": "job_role" },
                { "data": "vacancy", "name": "vacancy" },
                { "data": "job_type", "name": "job_type" },
                { "data": "eligibility_criteria", "name": "eligibility_criteria" },
                { "data": "experience", "name": "experience" },
                { "data": "skills", "name": "skills" },


                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        var action = '';
                        if (row.isActive) {
                            action = '<a href="#" title="Deactivate" onclick="Deactivate(\'' + row.encryptedId + '\')"><i class="fa-check-square"></i></a>';
                        } else {
                            action = '<a href="#" title="Activate" onclick="Activate(\'' + row.encryptedId + '\')"><i class="fa fa-times-circle mybutton"></i></a>';
                        }
                        return action;
                    }
                },
                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        action = '<a href="#" title="Edit Post" onclick="Edit(\'' + row.encryptedId + '\' )"><i class="fa fa-edit mybutton"></i></a>';
                        return action;
                    }
                }
            ],
            "order": [[0, "asc"]]
        });
    }

    function AddJobPost(id) {
        window.location.href = '@Url.Action("AddNewJobPost", "JobPost")?id=' + id;
    }
    function Activate(id, deactivate = false) {
        window.location.href = '@Url.Action("UpdateJobPost", "JobPost")?id=' + id + '?deactivate=' + deactivate;

    }
    function Deactivate(id, deactivate = true) {
        window.location.href = '@Url.Action("UpdateJobPost", "JobPost")?id=' + id + '?deactivate=' + deactivate;
    }
    function Edit(jobPostId, editMode = true) {
        //window.location.href = '@Url.Action("UpdateJobPost", "JobPost")?id=' + id + '?editMode=' + editMode;

        var url = '@Html.Raw(Url.Action("UpdateJobPost", "JobPost", new { id = "jobPostId", editMode = "true" }))';
        var params = url.replace('jobPostId', jobPostId);
        window.location.href = params;
    }
    function popupForActivation() {
        notification("Error", '@Messages.EnableEntity', "error");
    }
</script>