@*@model IEnumerable<RecruitmentPortal.WebApp.ViewModels.JobCategoryViewModel>
    @using RecruitmentPortal.WebApp.Helpers
    @{
        ViewData["Title"] = "Index";
    }
    @{ int rowNo = 0; }
    @{
        if (ViewBag.msg != null)
        {
            <script>window.onload = function () { alert("@ViewData["msg"] !!") }</script>
        }
    }
    <div class="bg-gradient-gray-dark text-white d-flex justify-content-between pt-2">

        <h2 class="pl-2">Job Category :</h2>

    </div>
    <br />
    <p>
        <a asp-action="AddNewCategory" class="btn btn-primary">Add New Category</a>
    </p>
    @if (Model.Count() > 0)
    {
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Add Job</th>
                    <th>Action</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@(rowNo += 1)</td>
                    <td>@item.job_category_name</td>

                    @if (item.isActive == true)
                    {
                        <td>
                            @Html.ActionLink("Add Job", "AddNewJobPost", "JobPost", new { id = RSACSPSample.EncodeServerName((item.ID).ToString()) }, new { @class = "btn btn-primary" })
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "UpdateCategory", new { id = RSACSPSample.EncodeServerName((item.ID).ToString()), editMode = true }, new { @class = "btn btn-primary mr-1" })
                            @Html.ActionLink("Deactivate", "UpdateCategory", new { id = RSACSPSample.EncodeServerName((item.ID).ToString()), deactivate = true }, new { @class = "btn btn-danger", @style = "width : 100px" })

                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink("Add Job", null, null, null, new { @class = "btn btn-secondary" })
                        </td>
                        <td>
                            @Html.ActionLink("Edit", null, null, null, new { @class = "btn btn-secondary mr-1" })
                            @Html.ActionLink("Activate", "UpdateCategory", new { id = RSACSPSample.EncodeServerName((item.ID).ToString()), deactivate = false }, new { @class = "btn btn-success", @style = "width : 100px" })
                        </td>
                    }

                <td>
                    @Html.ActionLink("Details", "DetailsJobcategory", new { id = RSACSPSample.EncodeServerName((item.ID).ToString()) }, new { @class = "btn btn-success" })
                </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4 class="text-center text-gray">No Job Cateogries yet.</h4>
    }*@

@model IEnumerable<RecruitmentPortal.WebApp.ViewModels.JobCategoryViewModel>
@using RecruitmentPortal.WebApp.Helpers

@{ int rowNo = 0; }
<style>
    .mybutton {
        font-size: 25px;
        border-radius: 3px;
        color: #509bac;
        margin-right: 5px;
    }

    .table > thead > tr > th {
        border-bottom: 2px solid #ecf0f5;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border-top: 1px solid #ecf0f5;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><b>All Job Categories :</b></h3>
                    <a asp-action="AddNewCategory" class="btn btn-primary pull-right">Add New Category</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Add Job</th>
                                <th>Action</th>
                                <th>Details</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        bindDatatable();
    });

    function bindDatatable() {

        $('#datatable').DataTable({
            lengthChange: true,
            searching: true,
            ordering: false,
            lengthMenu: [[5, 10, 25, 50, -1], [5,10, 25, 50, "All"]],
            paging: true,
            pagingType: "simple_numbers",
            pageLength: 10,
            fixedColumns: true,
            responsive: true,
            "bDestroy": true,
            "ajax": {
                "url": "@Url.Action("GetJobCategories", "JobCategory")",
                "type": "GET",
                "data": {},
                "datatype": "json"
            },
            "columns": [
                { "data": "job_category_name", "name": "job_category_name" },
                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        var action = '<a href="#" title="Add" onclick="AddJobPost(\''+ row.encryptedId +'\')" class="btn btn-success">Add Job</a>';
                        return action;
                    }
                },
                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        var action = '';
                        if (row.isActive) {
                            action = '<a href="#" title="Edit" onclick="Edit(\'' + row.encryptedId + '\' )"><i class="fa fa-edit mybutton"></i></a>';
                            action += '<a href="#" title="Deactivate" onclick="Deactivate(\'' + row.encryptedId + '\')"><i class="fa fa-check-square mybutton"></i></a>';
                        } else {
                            action = '<a href="#" title="Edit" onclick="Edit(\'' + row.encryptedId + '\')"><i class="fa fa-edit mybutton"></i></a>';
                            action += '<a href="#" title="Activate" onclick="Activate(\'' + row.encryptedId + '\')"><i class="fa fa-times-circle mybutton"></i></a>';
                        }
                        return action;

                    }
                },
                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        var action = '<a href="#" title="Details" onclick="Details(\'' + row.encryptedId + '\')"><i class="fa fa-tasks"></i></a>';
                        return action;
                    }
                }
            ],
            "order": [[0, "asc"]]
        });
    }

    function AddJobPost(id) {
        window.location.href = '@Url.Action("AddNewJobPost", "JobPost")?id=' + id;
    }
    function Activate(categoryId, deactivate) {
        var url = '@Html.Raw(Url.Action("UpdateCategory", "JobCategory", new { id = "categoryId", deactivate = "false" }))';
        var params = url.replace('categoryId', categoryId);
        window.location.href = params;

    }
    function Deactivate(categoryId, deactivate) {
         var url = '@Html.Raw(Url.Action("UpdateCategory", "JobCategory", new { id = "categoryId", deactivate = "true" }))';
         var params = url.replace('categoryId', categoryId);
         window.location.href = params;
    }
    function Edit(categoryId, editMode) {
        var url = '@Html.Raw(Url.Action("UpdateCategory", "JobCategory", new { id = "categoryId", editMode = "true" }))';
        var params = url.replace('categoryId', categoryId);
        window.location.href = params;
    }
    function Details(id) {
        window.location.href = '@Url.Action("DetailsJobCategory", "JobCategory")?id=' + id;
    }
</script>