@model IEnumerable<RecruitmentPortal.WebApp.ViewModels.JobCategoryViewModel>
@using RecruitmentPortal.WebApp.Helpers
@using RecruitmentPortal.WebApp.Resources


<style>
    .disableClick {
        background-color: #808080;
        color: white;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><b>All Job Categories :</b></h3>
                    <a asp-action="AddNewCategory" class="btn btn-primary pull-right">Add New Category</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Add Job</th>
                                <th>Action</th>
                                <th>Details</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        bindDatatable();
    });

    function bindDatatable() {

        $('#datatable').DataTable({
            lengthChange: true,
            searching: true,
            ordering: false,
            lengthMenu: [[5, 10, 25, 50, -1], [5,10, 25, 50, "All"]],
            paging: true,
            pagingType: "simple_numbers",
            pageLength: 10,
            fixedColumns: true,
            responsive: true,
            "bDestroy": true,
            "ajax": {
                "url": "@Url.Action("GetJobCategories", "JobCategory")",
                "type": "GET",
                "data": {},
                "datatype": "json"
            },
            "columns": [
                { "data": "job_category_name", "name": "job_category_name" },
                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        if (row.isActive) {
                            var action = '<a href="javascript:void(0);" title="Add" onclick="AddJobPost(\'' + row.encryptedId + '\')" class="btn btn-success">Add Job</a>';
                            return action;
                        }
                        else {
                            var action = '<a href="javascript:void(0);" title="Add" onclick="error()" class = "btn disableClick">Add Job</a>';
                            return action;
                        }
                    }
                },
                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        var iconClass = (row.isActive) ? '<i class="fa fa-check-square actionbutton"></i>' : '<i class="fa fa-times-circle actionbutton"></i>';
                        var action = '';
                        action = '<a href="javascript:void(0);" title="Edit" onclick="Edit(\'' + row.encryptedId + '\' )" class = "btn btn-primary btn-sm"><i class="fa fa-edit actionbutton"></i></a>';
                        action += ' <a href="javascript:void(0);" title="Activate/Deactivate" onclick="ChangeStatus(\'' + row.encryptedId + '\',\'' + row.isActive + '\')" class = "btn btn-primary btn-sm">' + iconClass +'</a>';
                        //if (row.isActive) {
                        //    action = '<a href="javascript:void(0);" title="Edit" onclick="Edit(\'' + row.encryptedId + '\' )" class = "btn btn-primary btn-sm"><i class="fa fa-edit actionbutton"></i></a>';
                        //    action += ' <a href="javascript:void(0);" title="Deactivate" onclick="Deactivate(\'' + row.encryptedId + '\')" class = "btn btn-primary btn-sm"><i class="fa fa-check-square actionbutton"></i></a>';
                        //} else {
                        //    action = '<a href="javascript:void(0);" title="Edit" onclick="error()" class = "btn disableClick btn-sm"><i class="fa fa-edit actionbutton"></i></a>';
                        //    action += ' <a href="javascript:void(0);" title="Activate" onclick="Activate(\'' + row.encryptedId + '\')" class = "btn btn-primary btn-sm"><i class="fa fa-times-circle actionbutton"></i></a>';
                        //}
                        return action;

                    }
                },
                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                            var action = '<a href="javascript:void(0);" title="Details" onclick="Details(\'' + row.encryptedId + '\')" class = "btn btn-primary btn-sm"><i class="fa fa-tasks actionbutton"></i></a>';
                            return action;
                    }
                }
            ],
            "order": [[0, "asc"]]
        });
    }

    function AddJobPost(id, toIndex = true) {
        window.location.href = '@Url.Action("AddNewJobPost", "JobPost")?id=' + id + '&toIndex=' + toIndex;
    }
    function ChangeStatus(categoryId, status) {
        window.location.href = '@Url.Action("UpdateCategory", "JobCategory")?id=' + categoryId + '&status=' + status;
    }
    function Edit(categoryId, editMode = true) {
        window.location.href = '@Url.Action("UpdateCategory", "JobCategory")?id=' + categoryId + '&editMode=' + editMode;
    }
    function Details(id) {
        window.location.href = '@Url.Action("DetailsJobCategory", "JobCategory")?id=' + id;
    }
     function error() {
        notification("Error", '@Messages.EnableEntity', "error");
    }
</script>