@model RecruitmentPortal.WebApp.ViewModels.AdminPanelViewModel
@using RecruitmentPortal.WebApp.Helpers
@if (ViewBag.status != null)
{
    <script>window.onload = function () { alert("@ViewBag.status") }</script>
}

@{ DateTime cur_date = DateTime.Now;
    string date_format = "dd-MM-yyyy";
    string time_format = "HH:mm tt";
    int i = 0;
}

<br />
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.ApplicationCount</h3>

                    <p>Total Applications</p>
                </div>
                <div class="icon">
                    <i class="fa fa-clipboard text-white"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.ActiveApplicationCount</h3>

                    <p>Active Applications</p>
                </div>
                <div class="icon">
                    <i class="fa fa-spinner text-white"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@Model.InterviewerCount</h3>

                    <p>Interviewers</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users text-white"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.SelectedCount</h3>

                    <p>Selected candidates</p>
                </div>
                <div class="icon">
                    <i class="fa fa-check text-white"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Upcoming schedule list-->
    <div class="row">
        <div class="col-sm-12">
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-clipboard"></i><b> Upcoming Schedules :</b></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="datatable1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Candidate Name</th>
                                <th>Job Title</th>
                                <th>Job Role</th>
                                <th>Mode of Interview</th>
                                <th>Date & Time</th>
                                <th>Interviewer</th>
                                <th>Details</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <!-- notification list-->
    <div class="row">
        <div class="col-sm-12">
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-bell"></i><b> Notifications :</b></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="datatable2" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Candidate Name</th>
                                <th>Job Title</th>
                                <th>Job Role</th>
                                <th>Joining Date</th>
                                <th>Details </th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        bindDatatable1();
        bindDatatable2();
    });

    function bindDatatable1() {

        $('#datatable1').DataTable({
            lengthChange: true,
            searching: true,
            ordering: false,
            lengthMenu: [[5, 10, 25, 50, -1], [5,10, 25, 50, "All"]],
            paging: true,
            pagingType: "simple_numbers",
            pageLength: 5,
            fixedColumns: true,
            responsive: true,
            "bDestroy": true,
            "ajax": {
                "url": "@Url.Action("getAdminIndexScheduleData", "Account")",
                "type": "GET",
                "data": {},
                "datatype": "json"
            },
            "columns": [
                { "data": "candidate_name", "name": "candidate_name" },
                { "data": "position", "name": "position" },
                { "data": "jobRole", "name": "jobRole" },
                { "data": "mode_of_interview", "name": "mode_of_interview" },
                { "data": "datetime", "name": "datetime" },
                { "data": "allInterviewersNames", "name": "allInterviewersNames" },


                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        var action = '';
                        action += '<a href="javascript:void(0);" title="Details" onclick="ScheduleDetails(\'' + row.encryptedId + '\')" class = "btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>';
                        return action;
                    }
                },
            ],
            "order": [[0, "asc"]]
        });
    }

    function ScheduleDetails(id, toAdminIndex = true) {
        window.location.href = '@Url.Action("ScheduleDetails", "Interviewer")?scheduleId=' + id + '&toAdminIndex=' + toAdminIndex;
    }
    //for notification list on dashboard
    function bindDatatable2() {

        $('#datatable2').DataTable({
            lengthChange: true,
            searching: true,
            ordering: false,
            lengthMenu: [[5, 10, 25, 50, -1], [5,10, 25, 50, "All"]],
            paging: true,
            pagingType: "simple_numbers",
            pageLength: 5,
            fixedColumns: true,
            responsive: true,
            "bDestroy": true,
            "ajax": {
                "url": "@Url.Action("getAdminIndexNotificationData", "Account")",
                "type": "GET",
                "data": {},
                "datatype": "json"
            },
            "columns": [
                { "data": "candidateName", "name": "candidateName" },
                { "data": "position", "name": "position" },
                { "data": "job_Role", "name": "job_Role" },
                { "data": "joining_date", "name": "joining_date" },

                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        var action = '';
                        action += '<a href="javascript:void(0);" title="Details" onclick="Details(\'' + row.encryptedId + '\')" class = "btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>';
                        return action;
                    }
                },
            ],
            "order": [[0, "asc"]]
        });
    }

    function Details(id, toAdminIndex = true) {
        window.location.href = '@Url.Action("SelectedJobApplicationsDetails", "JobApplication")?id=' + id + '&toAdminIndex=' + toAdminIndex;
    }

</script>
