@model RecruitmentPortal.WebApp.ViewModels.AdminPanelViewModel
@using RecruitmentPortal.WebApp.Helpers
@if (ViewBag.status != null)
{
    <script>window.onload = function () { alert("@ViewBag.status") }</script>
}

@{ DateTime cur_date = DateTime.Now;
    string date_format = "dd-MM-yyyy";
    string time_format = "HH:mm tt";
    int i = 0;
}

<br />
<div class="text-left">

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-gradient-danger">
                <div class="inner">
                    <h3>@Model.ApplicationCount</h3>

                    <p>Applications</p>
                </div>
                <div class="icon">
                    <i class="fa fa-clipboard-list text-white"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.ActiveApplicationCount</h3>

                    <p>Active Applications</p>
                </div>
                <div class="icon">
                    <i class="fa fa-spinner text-white"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-lightblue">
                <div class="inner">
                    <h3>@Model.InterviewerCount</h3>

                    <p>Interviewers</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users text-white"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.SelectedCount</h3>

                    <p>Selected candidates</p>
                </div>
                <div class="icon">
                    <i class="fa fa-check text-white"></i>
                </div>
            </div>
        </div>
    </div>
    <h2 class="mb-2 text-left"><u>Upcoming Schedules : </u></h2>
    <hr />
    @if (Model.upcoming_schedules.Count() > 0)
    {
    <div class="container-fluid mb-2 box-shadow">
        <table class="table table-sm table-bordered table-striped">
            <tr>
                <th>S.No.</th>
                <th>Candidate Name</th>
                <th>Job Title</th>
                <th>Job Role</th>
                <th>Mode of Interview</th>
                <th>Date & Time</th>
                <th>Interviewer</th>
                <th>Details</th>
            </tr>
            @{ int rowcount = 0;}
            @foreach (var item in Model.upcoming_schedules)
                {
            <tr>
                <td>@(rowcount += 1).</td>
                <td>@item.candidate_name</td>
                <td>@item.position</td>
                <td>@item.jobRole</td>
                <td>@item.mode_of_interview</td>
                <td>@item.datetime.ToString(date_format) at @item.datetime.ToString(time_format)</td>
                <td>
                    @*@foreach (var data in item.InterviewerNames)
                    {
                    <p>@(i += 1).@data.Name</p>
                    }*@
                </td>
                <td>
                    <form asp-action="ScheduleDetails" asp-controller="Interviewer" asp-route-toAdminIndex="true" asp-route-scheduleId="@RSACSPSample.EncodeServerName((item.ID).ToString())">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Click here
                        </button>
                    </form>
                </td>
            </tr>
                }
        </table>
    </div>
    }
    else
    {
    <h4 class="text-gray text-center">No Upcoming Scehdules yet.</h4>
    }
    <h2 class="mb-2 text-left"><u>Notifications : </u></h2>
    <hr />
    @if (Model.selected_application.Count() > 0)
    {
    <div class="container-fluid mb-2 box-shadow">
        <table class="table table-sm table-bordered  table-striped" style="table-layout: fixed; width: 100%">
            <tr>
                <th>S.No.</th>
                <th>Candidate Name</th>
                <th>Job Title</th>
                <th>Job Role</th>
                <th>Joining Date</th>
                <th>Details </th>
            </tr>
            @{ int rowcount1 = 0;}
            @foreach (var item in Model.selected_application)
                {
            <tr>
                <td>@(rowcount1+=1).</td>
                <td style="word-wrap: break-word">@item.candidateName</td>
                <td style="word-wrap: break-word">@item.position</td>
                <td style="word-wrap: break-word">@item.job_Role</td>
                <td id="joining_date">@item.joining_date.ToString(date_format)</td>
                <td>
                    @*@if (item.joining_date > cur_date)
                        {
                            <form asp-action="NotificationDetails" asp-controller="Home" asp-route-id="@RSACSPSample.EncodeServerName((item.ID).ToString())">
                                <button id="btn-confirm" type="submit" class="btn btn-sm btn-secondary" disabled>
                                    Click here
                                </button>
                            </form>
                        }
                        else
                        {*@
                    <form asp-action="SelectedJobApplicationsDetails" asp-controller="JobApplication" asp-route-toAdminIndex="true" asp-route-editFromDashboard="true" asp-route-id="@RSACSPSample.EncodeServerName((item.ID).ToString())">
                        <button id="btn-confirm" type="submit" class="btn btn-sm btn-primary">
                            Click here
                        </button>
                    </form>
                    @*}*@

                </td>
            </tr>
                }
        </table>
    </div>
    }
    else
    {
    <h4 class="text-center text-gray">No Notifications yet.</h4>
    }


</div>
