
@using RecruitmentPortal.WebApp.Helpers
@model PaginatedList<RecruitmentPortal.WebApp.ViewModels.JobPostViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib//jquery//dist//jquery.min.js"></script>
<script type="text/javascript">
// <!--<!--$(document).ready(function () {-->-->
@*$("#job_ID").click(function () {
debugger;
var url = '@Url.Content("~/")' + "Home/GetEncryptedID";
var ddlsource = $('select[name="Jobid"]').val(); debugger;
$.get(url, { Id: $(ddlsource).val() }, function (data) {
debugger; $("#job_ID").val() = data;
});
});*@



// });




//$(document).ready(function () {
@*$("#job_ID").click(function (e) {
debugger;
// Stop the normal navigation
e.preventDefault();
debugger;
//Build the new URL
var url = $(this).attr("href");
var id = $("#job_id").text();
var vid = $("#job_ID").val(attr("asp-route-id"));
var encryptedID = null;
debugger;
$.get('@Url.Content("~/")' + "Home/GetEncryptedID", { Id: parseInt(id) }, function (data) {
encryptedID = data;
debugger;
url = url.replace("dummyID", encryptedID);

debugger;
//Navigate to the new URL
window.location.href = url;
});*@








@*$.ajax({
url: '@Url.Content("~/")' + "Home/GetEncryptedID",
type: 'GET',
Id: parseInt(id),
success: function (data) {
debugger;
$.each(data, function (i, item) {
encryptedID = item.value;
});
}
});*@


@*debugger;
var url = '@Url.Content("~/")' + "Home/GetEncryptedID";
var ddlsource = $("#job_id").text(); debugger;
$.get(url, { Id: parseInt(ddlsource) }, function (data) {

$("job_ID").data("")
//$('a').attr('asp-route-jobid', data);
debugger; //Replace the predifined QueryString param "xxx" with the "id"
alert("data received suceesfully" + data);

alert("data set suceesfully" + $('a').attr('asp-route-jobid'));
debugger;
});
});*@




@*function f(e, id) {


debugger;
// Stop the normal navigation
e.preventDefault();
debugger;
//Build the new URL
var url = $(this).attr("href");
var id = $("#job_id").text();
var vid = $("#job_ID").val(attr("asp-route-id"));
var encryptedID = null;
debugger;
$.get('@Url.Content("~/")' + "Home/GetEncryptedID", { Id: parseInt(id) }, function (data) {
encryptedID = data;
debugger;
url = url.replace("dummyID", encryptedID);

debugger;
//Navigate to the new URL
window.location.href = url;
});

}*@

</script>
@if (ViewData["msg"] != null)
{
    <script>window.onload = function () { alert("@ViewData["msg"] already Applied !!") }</script>
}
@if (ViewBag.status != null)
{
    <script>window.onload = function () { alert("@ViewBag.status") }</script>
}

<div class="text-center">
    <h1 class="display-4 text-center"><b>Careers</b></h1>
</div>
<br />
@if (!User.IsInRole("Admin") && !User.IsInRole("Interviewer") && Model.Count()>0)
{
    <div class="d-flex justify-content-between">
        <div class="border box-shadow d-inline-flex" style="padding:5px; border-radius:5px">
            <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]" class="mr-2 btn btn-primary btn-sm">
                Job Title
            </a>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["LocationSortParm"]" class="mr-2 btn btn-primary btn-sm">
                Location
            </a>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["JobRoleSortParm"]" class="mr-2 btn btn-primary btn-sm">
                Job Role
            </a>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["JobTypeSortParm"]" class="btn btn-primary btn-sm">
                Job Type
            </a>
            <form asp-controller="Home" asp-action="Index" method="get">
                @*//Added search box test*@
                <div class="mr-2 ml-2">
                    <input type="text" name="SearchString" placeholder="Job-Title/Location/Job-Role" class=" mr-2">
                    <input class="btn btn-primary btn-sm" type="submit" value="Search" style="margin-top: -5px" />
                </div>
            </form>
        </div>
    </div>

}

@if (Model.Count() > 0)
{
    <hr />

    <div class="container mb-2 box-shadow">

        @foreach (var item in Model)
        {
            <div class="row mb-2 p-3" style=" height:auto;
/* border-radius: 30px;*/
border-top: 2px solid grey;
border-bottom: 2px solid grey;
font-family :'Trebuchet MS'; ">
                <div class="col-md-6 flex-wrap">


                    <strong class="lead" style="font-size:xx-large">@item.job_title</strong><br />
                    <strong class="lead text-orange"><i class="fa fa-map-marker-alt"></i></strong><strong class="lead"> @item.location</strong><br />
                    <strong class="lead text-orange"><i class="fa fa-graduation-cap"></i></strong><strong class="lead"> @item.eligibility_criteria</strong> <br />
                    <strong class="lead text-orange"><i class="fa fa-briefcase"></i></strong><strong class="lead"> @item.experience</strong> <br />
                    <strong class="lead">Job Role : </strong><span class="lead text-secondary">@item.job_role</span><br />
                    <strong class="lead">Job Type : </strong><span class="lead text-secondary">@item.job_type</span><br />
                    <strong class="lead">Vacancy : </strong><span class="lead text-secondary">@item.vacancy</span><br />
                    <strong class="lead">Required Skills : </strong><span class="lead text-secondary">@item.skills</span> <br /><br />


                    @*@Html.ActionLink("Apply", "Index", "Candidate", null , new { jobid = (item.ID), @id = "job_ID", @class = "btn btn-primary myjob" })*@
                    @Html.ActionLink("Apply", "Index", "Candidate", new { id = RSACSPSample.EncodeServerName((item.ID).ToString()) }, new { @class = "btn btn-primary" })
                    @*<a asp-controller="Candidate" asp-action="Index" onclick="create_Encryption(@item.ID)" class = "btn btn-primary">
                        Apply
                        </a>*@
                </div>


            </div>
        }
    </div>
    <hr />
    <div class="box-shadow d-flex justify-content-end">

        @*-------Added For Sorting---------*@
        @*//pagination links*@
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default font-weight-bold @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default font-weight-bold @nextDisabled">
            Next
        </a>
    </div>
    <hr />
}
else
{
<h4 class="text-gray align-content-between">
    <p>Sorry, there are no positions available at this time. </p><br />
    <p>Thank you for your interest about employment opportunities at <b>SHALIGRAM INFOTECH LLP</b>. Currently we do not have any open positions, however if you are interested in possible future opportunities please send your CV to <a href="https://shaligraminfotech.com/company/careers/">career@shaligraminfotech.com</a>. We will be in touch if a role becomes available that matches your skills and experiences.</p>
</h4>
}


