@using RecruitmentPortal.WebApp.Resources
@model RecruitmentPortal.WebApp.ViewModels.OTPViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log In - @Labels.RecruitmentPortal</title>
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <partial name="AdminLTE/_Styles" />
    <script src="~/Content/js/jQuery-2.2.0.min.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/jquery.validate.unobtrusive.min.js"></script>
    <style>
        .field-validation-error {
            color: red !important;
        }
    </style>
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-box-body">
            <div class="login-logo">
                <a href='@Url.Action("Index","Home")'>
                    <img src="~/img/shaligram_logo1.png" height="auto" width="300px" />
                </a>
            </div>
            <div class="login-logo">
                <b>@Labels.EnterOTP</b>

            </div>
            @using (Html.BeginForm("OtpViewPost", "Home", FormMethod.Post, new { @autocomplete = "off" }))
            {
                @Html.HiddenFor(m => m.token)
                @Html.HiddenFor(m => m.email)
                <div class="form-group has-feedback has-feedback-left">
                    @Html.TextAreaFor(x => x.otp, new { @class = "form-control", @type = "number", @id = "token_input" })
                    @Html.ValidationMessageFor(x => x.otp)
                    <div class="form-control-feedback">
                        <i class="fa fa-envelope text-muted"></i>
                    </div>
                </div>
                <div class="social-auth-links text-center">
                    <button type="submit" class="btn btn-block" style="background-color:#f58634;color: white;font-size: 18px;">
                        Submit <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
                <div class="social-auth-links text-center">
                    <a href='@Url.Action("Login","Login")' class="btn btn-block btn-secondary">
                        Back
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                </div>
            }
        </div>
    </div>
    <partial name="AdminLTE/_Scripts" />
</body>
</html>


@*<script type="text/javascript">
    var data = @Model.token;
    $("#otpform").submit(function (event) {
        debugger;
        if ($("#otp").val() == data) {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/")' + "Home/EmailConfirmation",
                data: { email_ID: "@Model.email" }
            });
        } else {
            debugger;
            $("#otp").val('');
            $("#otp").after('<span class="field-validation-error" id="otp" role="alert">Invalid OTP.</span>');
            event.preventDefault();
        }
       
    });

</script>*@
