@using RecruitmentPortal.WebApp.Helpers
@model IQueryable<RecruitmentPortal.WebApp.ViewModels.SchedulesViewModel>

@{
    ViewData["Title"] = "Interviewer Index";
}
@{ int rowcount = 0;}

<h1 class="mb-2 bg-info text-white">Pending Schedules : </h1>
<hr />
@*//Added search box test*@
<div class="text-center">
    <h1 class="display-4 text-center"><b>Pending Schedules : </b></h1>

    <form asp-controller="Interviewer" asp-action="Index" method="get">
        <p>
            Job Position: <input type="text" name="SearchString">
            <input class="btn btn-primary" type="submit" value="Search" />
        </p>
    </form>
</div>
<br />

<div class="container-fluid mb-2 box-shadow">
    <table class="table table-sm table-bordered table-striped">
        <tr><th>S.No.</th><th>Candidate Name</th><th>Job Position</th><th>Mode of Interview</th><th>Round</th><th>Details</th></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(rowcount+=1).</td>
                <td>@item.candidate_name</td>
                <td>@item.position</td>
                <td>@item.mode_of_interview</td>
                <td>@item.round</td>

                <td>
                    <form asp-action="ScheduleDetails" asp-route-scheduleId="@item.ID" id="details">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Details
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
