@using static RecruitmentPortal.WebApp.Helpers.NavigationIndicatorHelper;

<aside class="main-sidebar sidebar-dark-orange">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">MENU NAVIGATION</li>
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("Home", "AdminIndex")">
                        <i class="fa fa-dashboard"></i>
                        <span>
                            Dashboard
                        </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a asp-controller="Interviewer" asp-action="Index" class="nav-link @Url.MakeActiveClass("Interviewer", "Index")">
                        <i class="fa fa-clipboard"></i>
                        <span>
                            Schedules
                        </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a asp-controller="JobCategory" asp-action="Index" class="nav-link @Url.MakeActiveClass("JobCategory", "index")">
                        <i class="fa fa-newspaper-o"></i>
                        <span>
                            Jobs
                        </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a asp-controller="Qualification" asp-action="Index" class="nav-link @Url.MakeActiveClass("Qualification", "index")">
                        <i class="fa fa-graduation-cap"></i>
                        <span>
                            Qualifications
                        </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a asp-controller="Account" asp-action="Index" class="nav-link @Url.MakeActiveClass("Account", "index")">
                        <i class="fa fa-users"></i>
                        <span>
                            Interviewers
                        </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a asp-controller="Candidate" asp-action="AllApplications" class="nav-link @Url.MakeActiveClass("Candidate", "AllApplications")">
                        <i class="fa fa-list-ol"></i>
                        <span>
                            All Applications
                        </span>
                    </a>
                </li>
            }
            @if (User.IsInRole("Interviewer"))
            {
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="InterviewerIndex" class="nav-link @Url.MakeActiveClass("Home", "InterviewerIndex")">
                        <i class="fa fa-dashboard"></i>
                        <span>
                            Dashboard
                        </span>
                    </a>
                </li>

                <li class="nav-item ">
                    <a asp-controller="Interviewer" asp-action="Index" class="nav-link @Url.MakeActiveClass("Interviewer","Index")">
                        <i class="fa fa-lock"></i>
                        <span>
                            Completed Schedules
                        </span>
                    </a>
                </li>
            }
            @if (!User.IsInRole("Interviewer") && !User.IsInRole("Admin"))
            {
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("home","index")">
                        <i class="fa fa-home"></i>
                        <span>
                            Home
                        </span>
                    </a>
                </li>
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>