<aside class="main-sidebar sidebar-dark-orange">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" id="sideBarMenu">
        <ul class="sidebar-menu">
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a href='@Url.Action("AdminIndex", "Account")' id="Account" class="nav-link" >
                        <i class="fa fa-dashboard"></i>
                        <span>
                            Dashboard
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href='@Url.Action("Index", "Interviewer")' id="Interviewer" class="nav-link">
                        <i class="fa fa-clipboard"></i>
                        <span>
                            Schedules
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href='@Url.Action("Index", "JobCategory")' id="JobCategory" class="nav-link">
                        <i class="fa fa-newspaper-o"></i>
                        <span>
                            Jobs
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href='@Url.Action("Index", "Qualification")' id="Qualification" class="nav-link">
                        <i class="fa fa-graduation-cap"></i>
                        <span>
                            Qualifications
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href='@Url.Action("Index", "Account")' id="Account" class="nav-link">
                        <i class="fa fa-users"></i>
                        <span>
                            Interviewers
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href='@Url.Action("AllApplications", "Candidate")' id="Candidate" class="nav-link">
                        <i class="fa fa-list-ol"></i>
                        <span>
                            All Applications
                        </span>
                    </a>
                </li>
            }
            @if (User.IsInRole("Interviewer"))
            {
                <li class="nav-item">
                    <a href='@Url.Action("InterviewerIndex", "Home")' id="Home" class="nav-link">
                        <i class="fa fa-dashboard"></i>
                        <span>
                            Dashboard
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href='@Url.Action("Index", "Interviewer")' id="Interviewer" class="nav-link">
                        <i class="fa fa-lock"></i>
                        <span>
                            Completed Schedules
                        </span>
                    </a>
                </li>
            }
            @if (!User.IsInRole("Interviewer") && !User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a href='@Url.Action("Index", "Home")' id="Home" class="nav-link">
                        <i class="fa fa-home"></i>
                        <span>
                            Home
                        </span>
                    </a>
                </li>
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>