
@model RecruitmentPortal.WebApp.ViewModels.DepartmentViewModel

@using (Html.BeginForm("AddNewDeptPost", "Qualification", FormMethod.Post, new { role = "form", id = "deptform" }))
{
    <input type="hidden" value="@Model.ID" id="ID" name="ID" />
    <input type="hidden" value="@Model.DegreeId" id="DegreeId" name="DegreeId" />
    @Html.HiddenFor(m => m.isActive)
    <div class="form-group">
        @Html.LabelFor(m => m.dept_name, new { @class = "asterisk" })
        @Html.TextBoxFor(m => m.dept_name, new { @placeholder = "Department Name", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.dept_name, "", new { @class = "text-danger" })
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick="return checkFormValid()">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
}


<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse($('#deptform'));
    });

    function checkFormValid() {
        var $form = $('form');
        if ($form.valid()) {
            return true;
        }
        return false;
    }
</script>