@model RecruitmentPortal.WebApp.ViewModels.DegreeViewModel
@using RecruitmentPortal.WebApp.Helpers
@using RecruitmentPortal.WebApp.Resources

@{ ViewBag.Title = "Details"; }
<style>
    .disableClick {
        background-color: #808080;
        color: white;
    }
</style>


<!-- Modal for Adding new Degree -->
<div class="modal fade in bg-gradient-orange" id="DeptModal" tabindex="-1" role="dialog" aria-labelledby="addDeptLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Department Details:</h4>
            </div>
            <div class="modal-body" id="DeptPartial">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Modal end -->



<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><b>Degree Details :</b></h3>
                    <div class="d-flex pull-right">
                        <a href='@Url.Action("Index","Qualification")' class="btn btn-primary">Cancel</a>
                    </div>


                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Degree</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        bindDatatable();
    });

    function bindDatatable() {
        $('#datatable').DataTable({
            lengthChange: true,
            searching: true,
            ordering: false,
            lengthMenu: [[5, 10, 25, 50, -1], [5,10, 25, 50, "All"]],
            paging: true,
            pagingType: "simple_numbers",
            pageLength: 10,
            fixedColumns: true,
            responsive: true,
            "bDestroy": true,
            "ajax": {
                "url": "@Url.Action("GetDegreeDetails", "Qualification")",
                "type": "GET",
                "data": {
                    "id": "@Model.EncryptedId"
                },
                "datatype": "json"
            },
            "columns": [
                { "data": "dept_name", "name": "dept_name" },
                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        var iconClass = (row.isActive) ? '<i class="fa fa-check-square actionbutton"></i>' : '<i class="fa fa-times-circle actionbutton"></i>';
                        var action = '';
                        action = '<a href="javascript:void(0);" title="Activate/Deactivate" onclick="ChangeStatus(\'' + row.encryptedId + '\',\'' + row.encryptedDegreeId + '\',\'' + row.isActive + '\')" class = "btn btn-primary btn-sm">' + iconClass + '</a>';
                        if (row.isActive) {
                            action += ' <a href="javascript:void(0);" title="Edit" onclick="loadPartialView(\'' + row.encryptedId + '\')" class = "btn btn-primary btn-sm"><i class="fa fa-edit actionbutton"></i></a>';
                        } else {
                           action += ' <a href="javascript:void(0);" title="Edit Post" onclick="error()" class = "btn disableClick btn-sm"><i class="fa fa-edit actionbutton"></i></a>';
                        }
                        return action;
                    }
                }
            ],
            "order": [[0, "asc"]]
        });
    }

    function error() {
        notification("Error", '@Messages.EnableEntity', "error");
    }
    function ChangeStatus(deptId,DegreeID, status) {
        window.location.href = '@Url.Action("UpdateDept", "Qualification")?id=' + deptId + '&degreeID=' + DegreeID + '&status=' + status;
    }
    function popupForActivation() {
        notification("Error", '@Messages.EnableEntity', "error");
    }

    function loadPartialView(id) {
        var url = '@Url.Action("RenderDeptView", "Qualification")?id=' + id;
        $('#DeptPartial').load(url, function () {
            $('#DeptModal').modal({ show: true });
        });
    }
</script>