@model IEnumerable<RecruitmentPortal.WebApp.ViewModels.DegreeViewModel>

@{
    ViewData["Title"] = "Index";
}
@if (ViewData["msg"] != null)
{
    <script>window.onload = function () { alert("@ViewData["msg"] already exist !!") }</script>
}
@{ int rowNo = 0;
    }

<div class="bg-gradient-gray-dark text-white d-flex justify-content-between pt-2">

    <h2 class="pl-2">Degree List:</h2>

</div>
<br />
<p>
    <a asp-action="AddNewDegree" class="btn btn-primary btn-sm">Add New Degree</a>
</p>


@foreach (var item in Model)
{

    <div class="container-fluid">
        <div class="row mb-3" style="
                border: 2px solid grey;
                border-radius: 2px;
                margin-bottom : 3px;
                padding-bottom:10px;
                font-family : Tahoma;

            ">
            <div class="col-md-6" style="border-right : 2px solid grey">
                @(rowNo += 1).@item.degree_name<br />
                <div class="btn box-shadow border w-20">
                    @Html.ActionLink("Edit", "UpdateDegree", new { id = item.ID }, new {@class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Delete", "DeleteDegree", new { id = item.ID }, new {@class = "btn btn-danger btn-sm" })
                    @Html.ActionLink("Add Department", "AddNewDept", "Qualification", new { id = item.ID }, new {@class = "btn btn-primary btn-sm" })
                </div>
            </div>
            <div class="col-md-6" style="border-left : 2px solid grey">
                <div class="row">
                    <div class="col-md-12">
                        @{int DeptNo = 0;}
                        @foreach (var dept in item.Departments)
                        {
                            <div class="box-shadow">
                                <div class="row" style="font-size : 16px ;">
                                    <div class="col-md-6">
                                        <p> @(DeptNo += 1). @dept.dept_name</p>
                                    </div>
                                    <div class="col-md-6">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <div class="btn box-shadow border w-20">
                                                @Html.ActionLink("Delete", "DeleteDept", "Qualification", new { id = dept.ID }, new { @class = "btn btn-danger btn-sm" })
                                                @Html.ActionLink("Edit", "UpdateDept", "Qualification", new { id = dept.ID, dept_id = item.ID }, new { @class = "btn btn-primary btn-sm" })
                                            </div>
                                        }
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
}
