@model RecruitmentPortal.WebApp.ViewModels.DegreeViewModel
@using RecruitmentPortal.WebApp.Helpers
@using RecruitmentPortal.WebApp.Resources


<style>
    .disableClick {
        background-color: #808080;
        color: white;
    }
</style>
<!-- Modal for Adding new Degree -->
<div class="modal fade in bg-gradient-orange" id="DegreeModal" tabindex="-1" role="dialog" aria-labelledby="addDegreeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Degree Details:</h4>
            </div>
            <div class="modal-body" id="DegreePartial">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Modal end -->
<!-- Modal for Adding new Degree -->
<div class="modal fade in bg-gradient-orange" id="DeptModal" tabindex="-1" role="dialog" aria-labelledby="addDeptLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Department Details:</h4>
            </div>
            <div class="modal-body" id="DeptPartial">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Modal end -->

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-graduation-cap"></i><b> All Qualification Degrees :</b></h3>
                    <a class="btn btn-primary pull-right" onclick="loadDegreePartialView('')">
                        Add New Degree
                    </a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Add Department</th>
                                <th>Action</th>
                                <th>Details</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        bindDatatable();
    });

    function bindDatatable() {

        $('#datatable').DataTable({
            lengthChange: true,
            searching: true,
            ordering: false,
            lengthMenu: [[5, 10, 25, 50, -1], [5,10, 25, 50, "All"]],
            paging: true,
            pagingType: "simple_numbers",
            pageLength: 10,
            fixedColumns: true,
            responsive: true,
            "bDestroy": true,
            "ajax": {
                "url": "@Url.Action("GetAllDegrees", "Qualification")",
                "type": "GET",
                "data": {},
                "datatype": "json"
            },
            "columns": [
                { "data": "degree_name", "name": "degree_name" },
                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        if (row.isActive) {
                            var action = '<a href="javascript:void(0);" title="Add" onclick="loadDeptPartialView(\'' + row.encryptedId + '\')" class="btn btn-success">Add Department</a>';
                            return action;
                        }
                        else {
                            var action = '<a href="javascript:void(0);" title="Add" onclick="error()" class = "btn disableClick">Add Department</a>';
                            return action;
                        }
                    }
                },
                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        var iconClass = (row.isActive) ? '<i class="fa fa-check-square actionbutton"></i>' : '<i class="fa fa-times-circle actionbutton"></i>';
                        var action = '';
                        if (row.isActive) {
                            action = '<a href="javascript:void(0);" title="Edit" onclick="loadDegreePartialView(\'' + row.encryptedId + '\')"  class = "btn btn-primary btn-sm"><i class="fa fa-edit actionbutton"></i></a>';

                        } else {
                            action = '<a href="javascript:void(0);" title="Edit" onclick="error()"  class = "btn disableClick"><i class="fa fa-edit actionbutton"></i></a>';

                        }
                        action += ' <a href="javascript:void(0);" title="Activate/Deactivate" onclick="ChangeStatus(\'' + row.encryptedId + '\',\'' + row.isActive + '\')" class = "btn btn-primary btn-sm">' + iconClass +'</a>';
                        return action;

                    }
                },
                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                            var action = '<a href="javascript:void(0);" title="Details" onclick="Details(\'' + row.encryptedId + '\')" class = "btn btn-primary btn-sm"><i class="fa fa-tasks actionbutton"></i></a>';
                            return action;
                    }
                }
            ],
            "order": [[0, "asc"]]
        });
    }

    function AddDepartment(id, toIndex = true) {
        window.location.href = '@Url.Action("AddNewDept", "Qualification")?id=' + id + '&toIndex=' + toIndex;
    }
    function ChangeStatus(degreeId, status) {
        window.location.href = '@Url.Action("UpdateDegree", "Qualification")?id=' + degreeId + '&status=' + status;
    }
    function Details(id) {
        window.location.href = '@Url.Action("Details", "Qualification")?id=' + id;
    }
     function error() {
        notification("Error", '@Messages.EnableEntity', "error");
    }



    function loadDegreePartialView(id) {
        var url = '@Url.Action("RenderDegreeView", "Qualification")?id=' + id;
        $('#DegreePartial').load(url, function () {
            $('#DegreeModal').modal({ show: true });
        });
    }
    function loadDeptPartialView(id, isParentCall = true) {
        var url = '@Url.Action("RenderDeptView", "Qualification")?id=' + id + '&isParentCall=' + isParentCall;
        $('#DeptPartial').load(url, function () {
            $('#DeptModal').modal({ show: true });
        });
    }
</script>
