@model RecruitmentPortal.WebApp.ViewModels.ResetPasswordModel
@using RecruitmentPortal.WebApp.Resources
@using RecruitmentPortal.WebApp.Helpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log In - @Labels.RecruitmentPortal</title>
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <partial name="AdminLTE/_Styles" />
    <script src="~/Content/js/jQuery-2.2.0.min.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/jquery.validate.unobtrusive.min.js"></script>
    <style>
        .field-validation-error {
            color: red !important;
        }
    </style>
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-box-body">
            <div class="login-logo">
                <a href='@Url.Action("Index","Home")'>
                    <img src="~/img/shaligram_logo1.png" height="auto" width="300px" />
                </a>
            </div>
            <div class="login-logo">
                <b>@Labels.ResetPassword</b>

            </div>
            <p class="lead"></p></p>
            @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { @autocomplete = "off", @role = "form" }))
            {
                @Html.HiddenFor(m => m.Token)
                @Html.HiddenFor(m => m.Email)

                <div class="form-group has-feedback has-feedback-left">
                    @Html.TextBoxFor(m => m.Password, new { @type = "password", @placeholder = "New Password", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                    <div class="form-control-feedback">
                        <i class="fa fa-envelope text-muted"></i>
                    </div>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @type = "password", @placeholder = "Confirm New Password", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    <div class="form-control-feedback">
                        <i class="fa fa-envelope text-muted"></i>
                    </div>
                </div>
                <div class="social-auth-links text-center">
                    <button type="submit" class="btn btn-block" style="background-color:#f58634;color: white;font-size: 18px;">
                        Save <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            }
        </div>
    </div>
    <partial name="AdminLTE/_Scripts" />
</body>
</html>
