@using RecruitmentPortal.WebApp.Resources
@{
    var startDate = new DateTime(DateTime.Now.Date.Year, 1, 1);
    List<SelectListItem> typeList = new List<SelectListItem>()
    {
        new SelectListItem {Text="New",Value = "1" },
        new SelectListItem {Text="Active",Value = "2" },
        new SelectListItem {Text="Selected",Value = "3" },
        new SelectListItem {Text="Rejected",Value = "4" },
    };
}
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-search"></i> Search</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6 form-group">
                            <label>@Labels.StartDate</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="srcStartDate">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6 form-group">
                            <label>@Labels.EndDate</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="srcEndDate">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6 form-group">
                            <label>Application Type</label>
                            @Html.DropDownList("srcApplicationType", typeList, Messages.PleaseSelect, new { @class = "form-control select2" })
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6 form-group">
                            <label>Degree</label>
                            @Html.DropDownList("srcDegree", new SelectList(ViewBag.DegreeList, "Id", "Name"), Messages.PleaseSelect, new { @class = "form-control select2" })
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6 form-group">
                            <input type="button" value="Search" class="btn btn-primary" onclick="search()" />
                            <input type="button" value="Reset" id="Reset" class="btn btn-primary" onclick="reset()"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Applications</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Candidate Name</th>
                                <th>Job Title</th>
                                <th>Job Role</th>
                                <th>SSC(%)</th>
                                <th>HSC(%)</th>
                                <th>Degree</th>
                                <th>Experience</th>
                                <th>Applied Date</th>
                                <th>Status</th>
                                <th><b>Actions</b></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $(".select2").select2();
        //Date picker
        $('#srcStartDate').datepicker({
            format: 'dd/mm/yyyy',
            endDate: '+0d',
            autoclose: true
        });
        $('#srcEndDate').datepicker({
            format: 'dd/mm/yyyy',
            endDate: '+0d',
            autoclose: true
        });
        bindDatatable();
    });

    function bindDatatable() {
        var sApplicationType = "";
        var sDegree = "";
        var applicationTypeElement = $('#srcApplicationType');
        var degreeElement = $('#srcDegree');
        if (applicationTypeElement.select2('data') && applicationTypeElement.select2('data')[0].id != '') {
            sApplicationType = applicationTypeElement.select2('data')[0].text;
        }
        if (degreeElement.select2('data') && degreeElement.select2('data')[0].id != '') {
            sDegree = degreeElement.select2('data')[0].text;
        }
        var sStartDate = getInputValueById('srcStartDate');
        var sEndDate = getInputValueById('srcEndDate');

        $('#datatable').DataTable({
            lengthChange: true,
            searching: true,
            ordering: false,
            lengthMenu: [[5, 10, 25, 50, -1], [5,10, 25, 50, "All"]],
            paging: true,
            pagingType: "simple_numbers",
            pageLength: 10,
            fixedColumns: true,
            responsive: true,
            "bDestroy": true,
            "ajax":{
                "url": "@Url.Action("GetApplicationsList", "Candidate")",
                "type": "GET",
                "data": {
                    "startDate": sStartDate,
                    "endDate": sEndDate,
                    "applicationType": sApplicationType,
                    "degree": sDegree
                },
                "datatype": "json"
            },
            "columns": [
                { "data": "name", "name": "name"},
                { "data": "jobName", "name": "jobName" },
                { "data": "jobRole", "name": "jobRole" },
                { "data": "ssc_perc", "name": "ssc_perc" },
                { "data": "hsc_perc", "name": "hsc_perc" },
                { "data": "degree", "name": "degree" },
                { "data": "experience", "name": "experience" },
                { "data": "apply_date", "name": "apply_date" },
                { "data": "jobStatus", "name": "jobStatus" },
                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        var edit = '<a href="#" title="Edit" onclick="openRecord(\'' + row.encryptedId + '\')"><i class="fa fa-edit"></i></a>';
                        return edit;
                    }
                }
            ],
            "order": [[0, "asc"]]
        });
    }

    function search() {
        var sStartDate = getInputValueById('srcStartDate');
        var sEndDate = getInputValueById('srcEndDate');

        var dStartDate = new Date(sStartDate);
        var dEndDate = new Date(sEndDate);

        if (dEndDate < dStartDate) {
            notification("Error", '@Messages.EndDateGreaterThanStartDate', "error");
            return;
        }
        bindDatatable();
    }

    function reset() {
        setInputValueById('srcApplicationType','');
        setInputValueById('srcDegree','');
        setInputValueById('srcStartDate','');
        setInputValueById('srcEndDate', '');
        bindDatatable();
    }

    function openRecord(id) {
        window.location.href = '@Url.Action("Details", "Candidate")?id=' + id; 
    }
</script>
