@using RecruitmentPortal.WebApp.Resources
@{
    var startDate = new DateTime(DateTime.Now.Date.Year, 1, 1);
    List<SelectListItem> typeList = new List<SelectListItem>()
{
        new SelectListItem {Text="New",Value = "1" },
        new SelectListItem {Text="Active",Value = "2" },
        new SelectListItem {Text="Selected",Value = "3" },
        new SelectListItem {Text="Rejected",Value = "4" },
    };

}
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-search"></i> Search</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6 form-group">
                            <label>@Labels.StartDate</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="srcStartDate" autocomplete = "off">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6 form-group">
                            <label>@Labels.EndDate</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="srcEndDate" autocomplete = "off">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6 form-group">
                            <label>Application Type</label>
                            @Html.DropDownList("srcApplicationType", typeList, Messages.PleaseSelect, new { @class = "form-control select2", @onchange = "bindDatatable()" })
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6 form-group">
                            <label>Degree</label>
                            @Html.DropDownList("srcDegree", new SelectList(ViewBag.DegreeList, "Id", "Name"), Messages.PleaseSelect, new { @class = "form-control select2" })
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6 form-group mt-25">
                            <input type="button" value="Search" class="btn btn-primary" onclick="search()" />
                            <input type="button" value="Reset" id="Reset" class="btn btn-primary" onclick="reset()" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Applications</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @*All Applications + New *@
                    <table id="src_1_datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Candidate Name</th>
                                <th>Job Title</th>
                                <th>Job Role</th>
                                <th>SSC(%)</th>
                                <th>HSC(%)</th>
                                <th>Degree</th>
                                <th>Experience</th>
                                <th>Applied Date</th>
                                <th>Status</th>
                                <th><b>Actions</b></th>
                            </tr>
                        </thead>
                    </table>

                    @*Active*@
                    <table id="src_2_datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Candidate Name</th>
                                <th>Job Title</th>
                                <th>Job Role</th>
                                <th>Activated Date</th>
                                <th>Status</th>
                                <th><b>Actions</b></th>
                            </tr>
                        </thead>
                    </table>

                    @*Selected*@
                    <table id="src_3_datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Candidate Name</th>
                                <th>Job Title</th>
                                <th>Job Role</th>
                                <th>Joining Date</th>
                                <th>Mode of Commitment</th>
                                <th>Offered CTC</th>
                                <th>Status</th>
                                <th><b>Actions</b></th>
                            </tr>
                        </thead>
                    </table>

                    @* Rejected*@
                    <table id="src_4_datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Candidate Name</th>
                                <th>Job Title</th>
                                <th>Job Role</th>
                                <th>Rejection Date</th>
                                <th>Status</th>
                                <th><b>Actions</b></th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {

        $(".select2").select2();
        //Date picker
        $('#srcStartDate').datepicker({
            format: 'dd/mm/yyyy',
            endDate: '+0d',
            autoclose: true
        });
        $('#srcEndDate').datepicker({
            format: 'dd/mm/yyyy',
            endDate: '+0d',
            autoclose: true
        });

       $("#srcApplicationType").val(getLocalValue('srcAppType')).change();
        bindDatatable();
    });

    function bindDatatable() {
        var x = $("#srcApplicationType").val();

        setLocalValue('srcAppType', x);
        var applicationTypeName = "src_" + x + "_datatable";
        var sApplicationType = "";
        var sDegree = "";
        var applicationTypeElement = $('#srcApplicationType');
        var degreeElement = $('#srcDegree');
        if (applicationTypeElement.select2('data') && applicationTypeElement.select2('data')[0].id != '') {
            sApplicationType = applicationTypeElement.select2('data')[0].text;
        }
        if (degreeElement.select2('data') && degreeElement.select2('data')[0].id != '') {
            sDegree = degreeElement.select2('data')[0].text;
        }
        var sStartDate = getInputValueById('srcStartDate');
        var sEndDate = getInputValueById('srcEndDate');
        var degreeVal = parseInt(x);
        //if (degreeVal !== NaN || degreeVal !== 1) {
        //    $('#srcDegree').closest('div').show();
        //}
        //else {
        //    $('#srcDegree').closest('div').hide();
        //}

        if (applicationTypeName == "src_2_datatable") {
            $('#src_1_datatable').hide();
            $('#src_1_datatable_wrapper').hide();
            $('#src_3_datatable').hide();
            $('#src_3_datatable_wrapper').hide();
            $('#src_4_datatable').hide();
            $('#src_4_datatable_wrapper').hide();
            $('#src_2_datatable').show();
            $('#src_2_datatable_wrapper').show();
            //Binding datatable for "Active"
            $('#src_2_datatable').DataTable({
                lengthChange: true,
                searching: true,
                //ordering: false,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                paging: true,
                pagingType: "simple_numbers",
                pageLength: 10,
                fixedColumns: true,
                responsive: true,
                "bDestroy": true,
                "ajax": {
                    "url": "@Url.Action("GetActiveApplicationsList", "Candidate")",
                    "type": "GET",
                    "data": {
                        "startDate": sStartDate,
                        "endDate": sEndDate,
                        "applicationType": sApplicationType,
                        "degree": sDegree
                    },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "candidateName", "name": "candidate Name" },
                    { "data": "position", "name": "position" },
                    { "data": "job_Role", "name": "job_Role" },
                    {
                        "data": "start_date", "name": "start_date",
                        "mRender": function (data,type,row) {           
                            var value = data.split("T");
                            var formattedDate = new Date(value[0]).toISOString();
                            return formattedDate.split("T")[0];
                        }
                    },
                    { "data": "interview_Status", "name": "interview_Status" },
                    {
                        "sClass": "text-center",
                        "mRender": function (data, type, row) {
                            var edit = '<a href="javascript:void(0);" title="Edit" onclick="openRecordActive(\'' + row.encryptedJobId + '\')" class = "btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>';
                            return edit;
                        }
                    }
                ],
                "order": [[3, "desc"]]
            });
        }
        else if (applicationTypeName == "src_3_datatable") {
            $('#src_1_datatable').hide();
            $('#src_1_datatable_wrapper').hide();
            $('#src_2_datatable').hide();
            $('#src_2_datatable_wrapper').hide();
            $('#src_4_datatable').hide();
            $('#src_4_datatable_wrapper').hide();
            $('#src_3_datatable').show();
            $('#src_3_datatable_wrapper').show();
            //Binding datatable for "Selected"
            $('#src_3_datatable').DataTable({
                lengthChange: true,
                searching: true,
                //ordering: true,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                paging: true,
                pagingType: "simple_numbers",
                pageLength: 10,
                fixedColumns: true,
                responsive: true,
                "bDestroy": true,
                "ajax": {
                    "url": "@Url.Action("SelectedJobApplications", "Candidate")",
                    "type": "GET",
                    "data": {
                        "startDate": sStartDate,
                        "endDate": sEndDate,
                        "applicationType": sApplicationType,
                        "degree": sDegree
                    },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "candidateName", "name": "candidateName" },
                    { "data": "position", "name": "position" },
                    { "data": "job_Role", "name": "job_Role" },
                    {
                        "data": "joining_date", "name": "joining_date",
                        "mRender": function (data) {
                            var value = data.split("T");
                            var formattedDate = new Date(value[0]).toISOString();
                            return formattedDate.split("T")[0];
                        }
                    },
                    { "data": "commitment_mode", "name": "commitment_mode" },
                    { "data": "offered_ctc", "name": "offered_ctc" },
                    {
                        "data": "status", "name": "status",
                        "mRender": function (data, type, row) {
                            var edit = (data == "Accepted") ? "Selected" : "Accepted";
                            return edit;
                        }
                    },
                    {
                        "sClass": "text-center",
                        "mRender": function (data, type, row) {
                            var edit = '<a href="javascript:void(0);" title="Edit" onclick="openRecordFinal(\'' + row.encryptedId + '\')" class = "btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>';
                            return edit;
                        }
                    }
                ],
                "order": [[3, "desc"]]
            });
        }
        else if (applicationTypeName == "src_4_datatable") {
            $('#src_1_datatable').hide();
            $('#src_1_datatable_wrapper').hide();
            $('#src_2_datatable').hide();
            $('#src_2_datatable_wrapper').hide();
            $('#src_3_datatable').hide();
            $('#src_3_datatable_wrapper').hide();
            $('#src_4_datatable').show();
            $('#src_4_datatable_wrapper').show();
            //Binding datatable for "Rejected"
            $('#src_4_datatable').DataTable({
                lengthChange: true,
                searching: true,
                //ordering: false,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                paging: true,
                pagingType: "simple_numbers",
                pageLength: 10,
                fixedColumns: true,
                responsive: true,
                "bDestroy": true,
                "ajax": {
                    "url": "@Url.Action("RejectedJobApplications", "Candidate")",
                    "type": "GET",
                    "data": {
                        "startDate": sStartDate,
                        "endDate": sEndDate,
                        "applicationType": sApplicationType,
                        "degree": sDegree
                    },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "candidateName", "name": "candidateName" },
                    { "data": "position", "name": "position" },
                    { "data": "job_Role", "name": "job_Role" },
                    {
                        "data": "rejection_date", "name": "rejection_date",
                        "mRender": function (data) {
                            var value = data.split("T");
                            var formattedDate = new Date(value[0]).toISOString();
                            return formattedDate.split("T")[0];
                        }
                    },
                    { "data": "status", "name": "status" },
                    {
                        "sClass": "text-center",
                        "mRender": function (data, type, row) {
                            var edit = '<a href="javascript:void(0);" title="Edit" onclick="openRecordFinal(\'' + row.encryptedId + '\')" class = "btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>';
                            return edit;
                        }
                    }
                ],
                "order": [[3, "desc"]]
            });
        }
        else {
            $('#src_2_datatable').hide();
            $('#src_2_datatable_wrapper').hide();
            $('#src_3_datatable').hide();
            $('#src_3_datatable_wrapper').hide();
            $('#src_4_datatable').hide();
            $('#src_4_datatable_wrapper').hide();
            $('#src_1_datatable_wrapper').show();
            $('#src_1_datatable').show();
            //Binding datatable for "All Applications + New"
            $('#src_1_datatable').DataTable({
                lengthChange: true,
                searching: true,
                //ordering: false,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                paging: true,
                pagingType: "simple_numbers",
                pageLength: 10,
                fixedColumns: true,
                responsive: true,
                "bDestroy": true,
                "ajax": {
                    "url": "@Url.Action("GetApplicationsList", "Candidate")",
                    "type": "GET",
                    "data": {
                        "startDate": sStartDate,
                        "endDate": sEndDate,
                        "applicationType": sApplicationType,
                        "degree": sDegree
                    },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "name", "name": "name" },
                    { "data": "jobpostName", "name": "jobpostName" },
                    { "data": "jobRole", "name": "jobRole" },
                    { "data": "ssc_perc", "name": "ssc_perc" },
                    { "data": "hsc_perc", "name": "hsc_perc" },
                    { "data": "degree", "name": "degree" },
                    { "data": "experience", "name": "experience" },
                    {
                        "data": "apply_date", "name": "apply_date",
                        "mRender": function (data) {
                            var value = data.split("T");
                            var formattedDate = new Date(value[0]).toISOString();
                            return formattedDate.split("T")[0];
                        }
                    },
                    { "data": "jobStatus", "name": "jobStatus" },
                    {
                        "sClass": "text-center",
                        "mRender": function (data, type, row) {
                            var edit = '<a href="javascript:void(0);" title="Edit" onclick="openRecord(\'' + row.encryptedId + '\',\'' + row.jobStatus + '\')" class = "btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>';
                            return edit;
                        }
                    }
                ],
                "order": [[7, "desc"]]
            });
        }
    }

    function search() {
        var sStartDate = getInputValueById('srcStartDate');
        var sEndDate = getInputValueById('srcEndDate');

        var dStartDate = new Date(sStartDate);
        var dEndDate = new Date(sEndDate);

        if (dEndDate < dStartDate) {
            notification("Error", '@Messages.EndDateGreaterThanStartDate', "error");
            return;
        }
        bindDatatable();
    }

    function reset() {
        $("#srcApplicationType").val('').change();
        $("#srcDegree").val('').change();
        setInputValueById('srcStartDate','');
        setInputValueById('srcEndDate', '');
        setLocalValue('srcAppType', '');
        bindDatatable();
    }

    function openRecord(id, status) {
        if (status == "New") {
            window.location.href = '@Url.Action("Details", "Candidate")?id=' + id;
        }
        else if (status == "Active") {
             window.location.href = '@Url.Action("getJobApplicationId", "Candidate")?id=' + id + '&flag=' + true;
        }
        else{  
             window.location.href = '@Url.Action("getJobApplicationId", "Candidate")?id=' + id;
        }

    }

    function openRecordActive(id) {
        window.location.href = '@Url.Action("Details", "JobApplication")?id=' + id;
    }
    function openRecordFinal(id) {
       window.location.href = '@Url.Action("SelectedJobApplicationsDetails", "JobApplication")?id=' + id;
    }



    function getLocalValue(key) {
        return localStorage.getItem(key);
    }

    function setLocalValue(key, value) {
        localStorage.setItem(key, value);
    }
</script>
