@model IQueryable<RecruitmentPortal.WebApp.ViewModels.CandidateViewModel>
@{
    ViewData["Title"] = "Applications";
}

@{
    int rowcount = 0;
}
<style>
    .btn-size {
        width: 100%;
    }
</style>
<br />
@if (Model.Count() > 0)
{

    @*//Added search box test*@
    <div class="text-center">
        <h1 class="display-4 text-center"><b>All Applications :</b></h1>

        <form asp-controller="Candidate" asp-action="Applications" method="get">
            <p>
                Job Title: <input type="text" name="SearchString">
                <input class="btn btn-primary" type="submit" value="Search" />
            </p>
        </form>
    </div>

    <table class="table table-sm table-bordered table-striped">
        <tr><th>S.No.</th><th>Name</th><th>Job Title</th><th>Phone</th><th>HSC(%)</th><th>SSC(%)</th><th>Degree</th><th>Experience</th><th>Details</th></tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@(rowcount+=1).</td>
                <td>@user.name</td>
                <td>@user.jobName</td>
                <td>@user.phone</td>
                <td>@user.hsc_perc</td>
                <td>@user.ssc_perc</td>
                <td>@user.degree</td>
                <td>@user.experience</td>

                <td>
                    @if (user.isActive == true && user.isSelected == true)
                    {
                        <button class="btn btn-size btn-sm btn-secondary">
                            Selected
                        </button>
                    }
                    @if (user.isActive == true && user.isSelected == false)
                    {
                        <button class="btn  btn-size btn-sm btn-success">
                            Active
                        </button>
                    }
                    @if (user.isActive == false && user.isSelected == false)
                    {
                        <form asp-action="Details" asp-route-id="@user.ID" method="post">
                            <button type="submit" class="btn btn-size btn-sm btn-primary">
                                Details
                            </button>
                        </form>
                    }

                </td>
            </tr>
        }
    </table>
}
else
{
    <h4 class="text-gray text-center mt-4 text-capitalize"><strong>No Applications Yet.</strong></h4>
}

