@model RecruitmentPortal.WebApp.ViewModels.CandidateViewModel

<div>
    <h1 class="mb-2  bg-gradient-gray-dark text-white">Candidate Details : </h1>
    <hr />
    <div class="d-flex justify-content-end">
        <div class="mb-2">
            <a asp-action="Download" class="btn btn-primary btn-md mr-3"
               asp-route-filename="@Model.resume">
                Download Resume
            </a>
        </div>
        <div>
            @Html.ActionLink("Proceed", "AddNewJobApplications", "JobApplication", new { Cid = Model.ID }, new { @class = "btn btn-success mr-3" })
            <a asp-action="Applications" class="btn btn-danger btn-md mr-3">
                Cancel
            </a>
        </div>
        <br />
        <div>
            <a asp-action="Applications" class="btn btn-primary">Back to List</a>
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            Candidate Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            Email-ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt class="col-sm-2">
            Phone No.
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class="col-sm-2">
            Gender
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            Experience
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.experience)
        </dd>
        <dt class="col-sm-2">
            HSC Percentage
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.hsc_perc)
        </dd>
        <dt class="col-sm-2">
            HSC Percentage
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ssc_perc)
        </dd>
        <dt class="col-sm-2">
            Degree
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.degree)
        </dd>
    </dl>
</div>





