@model RecruitmentPortal.WebApp.ViewModels.CandidateViewModel
@using RecruitmentPortal.WebApp.Helpers
@{

    string date_format = "dd-MM-yyyy";
}


<div>

    <div class="row bg-gradient-gray-dark text-white">
        <div class="col-md-5">
            <h2 class="pl-2">Candidate Details :</h2>
        </div>
    </div>
    <hr />
    <div class="d-flex justify-content-end">
        <div class="mb-2">
            <a asp-action="Download" class="btn btn-primary btn-md mr-3"
               asp-route-filename="@Model.resume">
                Download Resume
            </a>
        </div>
        <div>
            @Html.ActionLink("Proceed", "AddNewJobApplications", "JobApplication", new { Cid = RSACSPSample.EncodeServerName((Model.ID).ToString()) }, new { @class = "btn btn-success mr-3" })
        </div>
        <div>
            @Html.ActionLink("Reject", "RejectApplicant", "Candidate", new { Cid = RSACSPSample.EncodeServerName((Model.ID).ToString()) }, new { @class = "btn btn-danger mr-3" })
        </div>
        <br />
        <div>
            <a asp-action="AllApplications" asp-controller="Candidate" asp-route-Application_mode="All" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            Candidate Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            Email-ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt class="col-sm-2">
            Phone No.
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class="col-sm-2">
            Date of Birth
        </dt>
        <dd class="col-sm-10">
            @Model.dob.ToString(date_format)
        </dd>
        <dt class="col-sm-2">
            Gender
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            SSC (%)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ssc_perc)
        </dd>
        <dt class="col-sm-2">
            HSC (%)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.hsc_perc)
        </dd>
        <dt class="col-sm-2">
            Education
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.degree)
        </dd>
        <dt class="col-sm-2">
            Experience
        </dt>
        @if (Model.experience == "Fresher")
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.experience)
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.experience)
            </dd>
            <dt class="col-sm-2">
                Total Experience
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.total_experience)
            </dd>
            <dt class="col-sm-2">
                Relevent Experience
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.relevent_experience)
            </dd>
            <dt class="col-sm-2">
                Current CTC
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.current_ctc)
            </dd>
            <dt class="col-sm-2">
                Expected CTC
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.expected_ctc)
            </dd>
            <dt class="col-sm-2">
                Notice Period
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.notice_period)
            </dd>
        }
        <dt class="col-sm-2">
            Apply Through
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.applying_through)
        </dd>



    </dl>
</div>





