
<script src="~/lib//jquery//dist//jquery.min.js"></script>
@model RecruitmentPortal.WebApp.ViewModels.CandidateViewModel
var data = @ViewData["token"];
var email = @ViewData["email"];
@if (ViewData["error"] != null)
{
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.Mail not Sent !!</h2>
}

<div id="display">
    <form  onsubmit="verify()" >

        <div class="form-group">
            <label>Enter the OTP sent to your Email.</label>
            <input type="number" class="form-control" id="token_input" />
        </div>
        

        <div class="form-group">
            <input type="submit" value="verify">
        </div>
    </form>
</div>
<div class="accent-cyan" id="confirm">
    <h3>Thank you for submitting your application. We will review your application and contact you shortly.</h3><br />
    @Html.ActionLink("Go Back", "Index", "Home", null, new { @class = "btn btn-primary" })
</div>
<script type="text/javascript">
    var block = $("#display");
    $("#confirm").hide();
    var data =  @ViewData["token"];
    function verify() {
        if ($("#token_input").val() == data) {
            block.remove();
            var url = '@Url.Content("~/")' + "Candidate/EmailConfirmation";
                $.get(url, { email_ID: "@Model.email" }, function (res) {
                    $("#confirm").show();
                });
            }
    }
</script>