@model RecruitmentPortal.WebApp.ViewModels.JobApplicationViewModel

@using (Html.BeginForm("UpdateJobApplicationPost", "JobApplication", FormMethod.Post, new { id = "rejectform" }))
{
    <input type="hidden" value="@Model.ID" name="ID" id="ID" />
    <input type="hidden" value="@Model.candidateId" name="candidateId" id="candidateId" />
    <input type="hidden" value="@Model.joining_date" name="joining_date" id="joining_date" />
    <input type="hidden" value=true name="flag_Rejected" id="flag_Rejected" />
    <input type="hidden" value="@Model.start_date" name="start_date" id="start_date" />
    <input type="hidden" value="@Model.status" name="status" id="status" />

    <div class="form-group">
        @Html.LabelFor(m => m.rejection_reason, new { @class = "asterisk" })
        @Html.TextBoxFor(m => m.rejection_reason, new { @placeholder = "Reason for Rejection", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.rejection_reason, "", new { @class = "text-danger" })
    </div>

    <div class="modal-footer modal-footer2">
        <button type="submit" class="btn btn-primary" onclick="return checkFormValid()">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
}

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse($('#rejectform'));
        $("#rejection_reason").val('');
    });

    function checkFormValid() {
        var $form = $('form');
        if ($form.valid()) {
            return true;
        }
        return false;
    }
</script>