@model RecruitmentPortal.WebApp.ViewModels.JobApplicationViewModel
@using RecruitmentPortal.WebApp.Helpers
@using RecruitmentPortal.Infrastructure.Data.Enum
@{
    ViewData["Title"] = "SelectedJobApplicationsDetails";
    string date_format = "dd-MM-yyyy";
    string isFresher = "Fresher";
    int rowcount = 0;
    string status_Pending = Enum.GetName(typeof(JobApplicationStatus), 1);
    string status_Complete = Enum.GetName(typeof(JobApplicationStatus), 2);
    string status_Rejected = Enum.GetName(typeof(JobApplicationStatus), 3);
    string all_mode = "All";
    string Pending_mode = "Pending";
    string Selected_mode = "Accepted";
    string Rejected_mode = "Rejected";
}


<!-- Modal for Edit Joining date -->
<div class="modal fade" id="edit-date" tabindex="-1" role="dialog" aria-labelledby="addJoiningLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addJoiningLabel">Edit Joining Date:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="UpdateJobApplicationPost">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" value="@Model.ID" id="ID" name="ID" />
                    <input type="hidden" value="@Model.candidateId" id="candidateId" name="candidateId" />
                    <input type="hidden" value="@Model.accept_date" id="accept_date" name="accept_date" />
                    <input type="hidden" value="@Model.start_date" id="start_date" name="start_date" />
                    <input type="hidden" value="@Model.status" id="status" name="status" />
                    <input type="hidden" value="@Model.notified" id="notified" name="notified" />
                    <input type="hidden" value="@Model.commitment_mode" id="commitment_mode" name="commitment_mode" />
                    <input type="hidden" value="@Model.offered_ctc" id="offered_ctc" name="offered_ctc" />
                    <input type="hidden" value="@Model.remarks" id="remarks" name="remarks" />
                    <input type="hidden" value="true" id="flag_Edit" name="flag_Edit" />
                    <input type="hidden" value="@ViewBag.toAdminIndex" id="editFromMenu" name="editFromMenu" />


                    <div class="form-group">
                        <label asp-for="joining_date" class="control-label asterisk">Joining Date:</label>
                        <input asp-for="joining_date" required class="form-control" type="date" id="demo" placeholder="dd/mm/yyyy" />
                        <span asp-validation-for="joining_date" class="text-danger"></span>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success" id="submit-btn">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->
<!-- Modal for Rejecting -->
<div class="modal fade" id="delete-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addContactLabel">Fill Details:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="UpdateJobApplicationPost">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" value="@Model.ID" id="ID" name="ID" />
                    <input type="hidden" value="@Model.candidateId" id="candidateId" name="candidateId" />
                    <input type="hidden" value="@Model.accept_date" id="accept_date" name="accept_date" />
                    <input type="hidden" value="@Model.start_date" id="start_date" name="start_date" />
                    <input type="hidden" value="@Model.status" id="status" name="status" />
                    <input type="hidden" value="@Model.notified" id="notified" name="notified" />
                    <input type="hidden" value="@Model.commitment_mode" id="commitment_mode" name="commitment_mode" />
                    <input type="hidden" value="@Model.offered_ctc" id="offered_ctc" name="offered_ctc" />
                    <input type="hidden" value="@Model.remarks" id="remarks" name="remarks" />
                    <input type="hidden" value="true" id="flag_Edit" name="flag_Edit" />
                    <input type="hidden" value="@ViewBag.toAdminIndex" id="editFromMenu" name="editFromMenu" />
                    <input type="hidden" value="@Model.flag_Rejected" id="Flag_Rejected" name="Flag_Rejected" />
                    <div class="form-group">
                        <label asp-for="rejection_reason" class="control-label asterisk">Rejection Reason:</label>
                        <input asp-for="rejection_reason" required class="form-control" type="text" id="demo" />
                        <span asp-validation-for="rejection_reason" class="text-danger"></span>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-success" id="submit-btn">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->


<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <!-- /.box -->
            <div class="box box-default boxPad">
                <div class="box-header">


                    @if (Model.status == status_Rejected)
                    {
                        <h3 class="box-title">
                            <i class="fa fa-info-circle"></i>
                            Rejected Candidate Details:
                        </h3>
                    }
                    else
                    {
                        <h3 class="box-title">
                            <i class="fa fa-info-circle"></i>
                            Selected Candidate Details:
                        </h3>

                    }

                    <div class="box-tools pull-right">

                        @if (Model.status == status_Complete)
                        {
                            @if (!Model.notified)
                            {

                                <div>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#edit-date">
                                        Edit
                                    </button>
                                    @*@Html.ActionLink("Edit Date", "UpdateJobApplication", "JobApplication", new { id = @RSACSPSample.EncodeServerName((Model.ID).ToString()) }, new { @class = "btn btn-primary btn-sm mr-3" })*@
                                </div>
                                <div>
                                    @if (Model.joining_date <= DateTime.Today)
                                    {
                                        <!-- Button trigger modal For Rejecting Application-->
                                        <button type="button" class="btn btn-danger mr-2" data-toggle="modal" data-target="#delete-contact" onclick="openPopupReject()">
                                            Reject
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn  btn-danger mr-2" disabled>
                                            Reject
                                        </button>
                                    }
                                </div>
                                <div>
                                    <a asp-action="ConfirmJobApplication" asp-controller="JobApplication" asp-route-id="@RSACSPSample.EncodeServerName((Model.ID).ToString())" class="btn btn-success mr-3">
                                        Confirm
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <button class="btn btn-secondary mr-1">
                                        Edit
                                    </button>
                                    <button class="btn btn-secondary mr-1">
                                        Reject
                                    </button>
                                    <button class="btn btn-success mr-1">
                                        Notified
                                    </button>
                                </div>
                            }
                            @if (ViewBag.toAdminIndex != null || ViewBag.toAdminIndex == true)
                            {
                                <div>
                                    <a asp-action="AdminIndex" asp-controller="Account" class="btn btn-primary">Cancel</a>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <a asp-action="AllApplications" asp-controller="Candidate" asp-route-Application_mode="Accepted" class="btn btn-primary">Cancel</a>
                                </div>
                            }
                        }
                        @*Rejected application data*@
                        @if (Model.status == status_Rejected)
                        {
                            <a asp-action="ReOpenJobApplication" asp-controller="JobApplication" asp-route-id="@RSACSPSample.EncodeServerName((Model.ID).ToString())" class="btn btn-success mr-3">
                                Re-open
                            </a>
                            <a asp-action="Download" asp-controller="Candidate" class="btn btn-primary btn-md mr-3"
                               asp-route-filename="@Model.candidate.resume">
                                Download Resume
                            </a>
                            <a asp-action="AllApplications" asp-controller="Candidate" asp-route-Application_mode=all_mode class="btn btn-secondary">Cancel</a>
                        }


                    </div>
                </div>
            </div>

            <!-- /.box-header -->
            <form>
                <div class="box box-default container p-2">
                    <div class="box-body">


                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    @Html.LabelFor(m => m.candidateName)
                                    @Html.TextBoxFor(m => m.candidateName, new { @placeholder = "Candidate name", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.candidateName)
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group mb-3">
                                    @Html.LabelFor(m => m.position)
                                    @Html.TextBoxFor(m => m.position, new { @placeholder = "Job Title", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.position)
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group mb-3">
                                    @Html.LabelFor(m => m.candidate.jobRole)
                                    @Html.TextBoxFor(m => m.candidate.jobRole, new { @placeholder = "Job Role", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.candidate.jobRole)
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group mb-3">
                                    @Html.LabelFor(m => m.candidate.ssc_perc)
                                    @Html.TextBoxFor(m => m.candidate.ssc_perc, new { @placeholder = "SSC percentage", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.candidate.ssc_perc)
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group mb-2">
                                    @Html.LabelFor(m => m.candidate.hsc_perc)
                                    @Html.TextBoxFor(m => m.candidate.hsc_perc, new { @placeholder = "HSC percentage", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.candidate.hsc_perc)
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group mb-2">
                                    @Html.LabelFor(m => m.candidate.degree)
                                    @Html.TextBoxFor(m => m.candidate.degree, new { @placeholder = "Degree", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.candidate.degree)
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    @Html.LabelFor(m => m.candidate.applying_through)
                                    @Html.TextBoxFor(m => m.candidate.applying_through, new { @placeholder = "Applying Through", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.candidate.applying_through)
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->


                            <div class="col-md-6">
                                @if (Model.candidate.experience == "Fresher")
                                {
                                    <div class="form-group mb-2">
                                        @Html.LabelFor(m => m.candidate.experience)
                                        @Html.TextBoxFor(m => m.candidate.experience, new { @placeholder = "Experience", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.candidate.experience)
                                    </div>
                                    <!-- /.form-group -->
                                }
                                else
                                {
                                    <div class="form-group mb-2">
                                        @Html.LabelFor(m => m.candidate.experience)
                                        @Html.TextBoxFor(m => m.candidate.experience, new { @placeholder = "Experience", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.candidate.experience)
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group mb-2">
                                        @Html.LabelFor(m => m.candidate.total_experience)
                                        @Html.TextBoxFor(m => m.candidate.total_experience, new { @placeholder = "Total Experience", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.candidate.total_experience)
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.candidate.relevent_experience)
                                        @Html.TextBoxFor(m => m.candidate.relevent_experience, new { @placeholder = "Relevent Experience", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.candidate.relevent_experience)
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.candidate.current_ctc)
                                        @Html.TextBoxFor(m => m.candidate.current_ctc, new { @placeholder = "Current CTC", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.candidate.current_ctc)
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.candidate.expected_ctc)
                                        @Html.TextBoxFor(m => m.candidate.expected_ctc, new { @placeholder = "Expected CTC", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.candidate.expected_ctc)
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.candidate.notice_period)
                                        @Html.TextBoxFor(m => m.candidate.notice_period, new { @placeholder = "Notice Period", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.candidate.notice_period)
                                    </div>
                                    <!-- /.form-group -->
                                }
                            </div>
                            <!-- /.col -->

                        </div>
                        <!--/.row-->
                    </div>
                </div>
                <!-- /.box-body -->
            </form>











            <br />
            <dl class="row">
                <dt class="col-sm-4">
                    Candidate Name
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.candidate.name)
                </dd>
                <dt class="col-sm-4">
                    Email-ID
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.candidate.email)
                </dd>

                <dt class="col-sm-4">
                    Phone No.
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.candidate.phone)
                </dd>
                <dt class="col-sm-4">
                    Date of Birth
                </dt>
                <dd class="col-sm-8">
                    @Model.candidate.dob.ToString(date_format)
                </dd>
                <dt class="col-sm-4">
                    Gender
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.candidate.Gender)
                </dd>
                <dt class="col-sm-4">
                    SSC (%)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.candidate.ssc_perc)
                </dd>
                <dt class="col-sm-4">
                    HSC (%)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.candidate.hsc_perc)
                </dd>
                <dt class="col-sm-4">
                    Education
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.candidate.degree)
                </dd>
                <dt class="col-sm-4">
                    Experience
                </dt>
                @if (Model.candidate.experience == isFresher)
                {
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.candidate.experience)
                    </dd>
                }
                else
                {
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.candidate.experience)
                    </dd>
                    <dt class="col-sm-4">
                        Total Experience
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.candidate.total_experience)
                    </dd>
                    <dt class="col-sm-4">
                        Relevent Experience
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.candidate.relevent_experience)
                    </dd>
                    <dt class="col-sm-4">
                        Current CTC
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.candidate.current_ctc)
                    </dd>
                    <dt class="col-sm-4">
                        Expected CTC
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.candidate.expected_ctc)
                    </dd>
                    <dt class="col-sm-4">
                        Notice Period
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.candidate.notice_period)
                    </dd>
                }

                @if (Model.status == status_Complete)
                {
                    <dt class="col-sm-4">
                        Applied Date
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.candidate.apply_date)
                    </dd>
                    <dt class="col-sm-4">
                        Apply Through
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.candidate.applying_through)
                    </dd>
                    @if (Model.listOfRounds.Count() > 0)
                    {
                        <dt class="col-sm-4">
                            Interview Rounds
                        </dt>
                        <dd class="col-sm-8">
                            @foreach (var item in Model.listOfRounds)
                            {

                                <p>@item</p>
                            }
                        </dd>
                    }
                    else
                    {
                        <dt class="col-sm-4">
                            Interview Rounds
                        </dt>
                        <dd class="col-sm-8">
                            No Rounds available.
                        </dd>
                    }
                    <dt class="col-sm-4">
                        Joining Date
                    </dt>
                    <dd class="col-sm-8">
                        @Model.joining_date.ToString(date_format)
                    </dd>
                    <dt class="col-sm-4">
                        Mode of Commitment
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.commitment_mode)
                    </dd>
                    <dt class="col-sm-4">
                        Offered CTC
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.offered_ctc)
                    </dd>
                    <dt class="col-sm-4">
                        Interview Remarks
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.remarks)
                    </dd>
                }
                @if (Model.status == status_Rejected)
                {
                    <dt class="col-sm-4">
                        Applied Date
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.candidate.apply_date)
                    </dd>
                    <dt class="col-sm-4">
                        Job Title
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.position)
                    </dd>
                    <dt class="col-sm-4">
                        Job Role
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.job_Role)
                    </dd>
                    <dt class="col-sm-4">
                        Rejection Date
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.rejection_date)
                    </dd>

                    @if (Model.listOfRounds.Count() > 0)
                    {
                        <dt class="col-sm-4">
                            Interview Rounds
                        </dt>
                        <dd class="col-sm-8">
                            @foreach (var item in Model.listOfRounds)
                            {
                                var i = 0;
                                <p>@(rowcount+=1).@item</p>
                            }
                        </dd>
                    }
                    else
                    {
                        <dt class="col-sm-4">
                            Interview Rounds
                        </dt>
                        <dd class="col-sm-8">
                            No Rounds available.
                        </dd>
                    }
                    @if (Model.rejection_reason != null)
                    {
                        <dt class="col-sm-4">
                            Remarks
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.rejection_reason)
                        </dd>
                    }
                    else
                    {
                        <dt class="col-sm-4">
                            Remarks
                        </dt>
                        <dd class="col-sm-8">
                            No remarks available
                        </dd>
                    }


                }
                @*else
            {
                <dt class="col-sm-4">
                    Applying Through
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.candidate.applying_through)
                </dd>
                <dt class="col-sm-4">
                    Current Interview Status
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.status)
                </dd>
            }*@

            </dl>
        </div>
                        <script>
                            $(function () {
                                debugger;
                                $('button[data-toggle="ajax-modal"]').click(function (event) {
                                    var url = $(this).data('url');
                                    $.get(url).done(function (data) {
                                        $('#modal-placeholder').html(data);
                                        $('#modal-placeholder > .modal').modal('show');
                                    });
                                });
                            });

                            //Function for setting Flag_Rejected value as true
                            function openPopupReject() {
                                debugger;
                                $("#Flag_Rejected").val(true);
                                $('#delete-contact').modal('show');
                            }

                        </script>
