@model RecruitmentPortal.WebApp.ViewModels.SchedulesViewModel
@using RecruitmentPortal.Infrastructure.Data.Enum
@using RecruitmentPortal.WebApp.Helpers
@using RecruitmentPortal.WebApp.Resources

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-default boxPad">
                <div class="box-header">
                    <h3 class="box-title">
                        <i class="fa fa-info-circle"></i>
                        Schedule Interview
                    </h3>
           
                    <div class="box-tools pull-right">
                        <input type="submit" value="Create" class="btn btn-primary mr-3" />
                        <a asp-action="Details" asp-controller="JobApplication" asp-route-id="@RSACSPSample.EncodeServerName((Model.jobAppId).ToString())" class="mr-3 btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-body">
                    @using (Html.BeginForm("IndexPost", "Schedules", FormMethod.Post, new { @autocomplete = "off", @role = "form" }))
                    {
                        <div class="row">
                            <div class="col-md-6">

                                @Html.HiddenFor(m => m.ID)
                                @Html.HiddenFor(m => m.candidateId)

                                <div class="form-group">
                                    @Html.LabelFor(m => m.candidate_name)
                                    @Html.TextBoxFor(m => m.candidate_name, new { @placeholder = "Name", @class = "form-control", @readonly = "readonly" })

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.position)
                                    @Html.TextBoxFor(m => m.position, new { @placeholder = "Position", @class = "form-control", @readonly = "readonly" })

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.datetime)
                                    @Html.TextBoxFor(m => m.datetime, new { @type = "date", @placeholder = "Date & Time", @class = "form-control datepicker", @Value = Model.datetime.Date })
                                    @Html.ValidationMessageFor(model => model.datetime, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.round)
                                    @Html.TextBoxFor(m => m.round, new { @type = "number", @placeholder = "Select number of Round", @class = "form-control" })
                                </div>
                            </div>
                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.roundValue)
                                    @Html.DropDownListFor(m => m.roundValue, new SelectList(ViewBag.RoundTypeList, "Value", "Text"), Messages.PleaseSelect, new { @class = "form-control select2" })

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Multiinterviewer)
                                    @Html.ListBoxFor(m => m.Multiinterviewer, new MultiSelectList(ViewBag.users), new { @class = "form-control select2"} )

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.datetime)
                                    @Html.TextBoxFor(m => m.datetime, new { @type = "date", @placeholder = "Date & Time", @class = "form-control datepicker", @Value = Model.datetime.Date })
                                    @Html.ValidationMessageFor(model => model.datetime, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.round)
                                    @Html.TextBoxFor(m => m.round, new { @type = "number", @placeholder = "Select number of Round", @class = "form-control" })
                                </div>

                            </div>



                        </div>
                    }
                    </div>
            </div>


        </div>
    </div>



</section>
<script>
    $(function () {
        $(".select2").select2();
    });
    

</script>
